/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 40px 10%;
}

.footer-item {
    display: flex;
    justify-content: center;
    margin-top: var(--length-sm2);
    font-size: var(--length-md1);
    color: var(--color-label);
}