/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 16px var(--length-xl3);
}

@media only screen and (max-width: 1280px) {
    .navbar {
        padding: 16px var(--length-md3);
    }
  }

.navbar-wrapper {
    color: var(--color-primary);
    text-decoration: unset;
}

.navbar-item {
    margin-left: var(--length-md3);
    color: var(--color-primary);
    text-decoration: unset;
}

.navbar-item:hover {
    color: red;
}

.logo {
height: var(--length-lg2);
}